doctype html
head
    meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    title PotatoSync | Reset your password
    body
    p
    | #{error}
    form(action='.', method='POST')
        p
            | New Password:
            br
            input(type='password', name='password', value='', minlength=min_password_length, maxlength=max_password_length)
            br
            | Password Again:
            br
            input(type='password', name='password_again', value='', minlength=min_password_length, maxlength=max_password_length)
            br
            |
            input(type='token', name='token', value=token, hidden=true)
        input(type='submit', value='Submit')
